.aboutmefont {
  font-family: "Permanent Marker", cursive;
}

.profilefont {
  font-family: "Dancing Script", cursive;
  color: white;
}

.namefont {
  font-family: "Staatliches", cursive;
}

.nicknamefont {
  font-family: "Gloria Hallelujah", cursive;
}

.navbarfont {
  font-family: "Josefin Slab", serif;
}

.contentfont {
  font-family: "Kantumruy Pro", sans-serif;
}
